<!DOCTYPE html>
<html lang="en" xmlns:th = "http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      layout:decorate="layout.html">
   <div layout:fragment="content">
      <div style="margin-left:46%;"><h1>Basket</h1></div>

      <div  style="margin:auto; width: 85%" class="row">
         <div class="col-12">
            <div style="width: 80%; margin-top: 10px; margin-left: 10%;" class="list-group" th:each="offer : ${offers}">
               <a href="JavaScript:void(0)" class="list-group-item list-group-item-action">
                  <div style="display: flex; justify-content: space-between;">
                     <div>
                        <h4 class="mb-1" th:text="${offer.getName()}"></h4>
                        <h4>Price: <span th:text="${offer.getPrice()}"></span></h4>
                     </div>
                     <div>
                        <form th:action="@{'/remove-basket'}" method="post">
                           <input name="userId" style="visibility: hidden" th:value="${#authentication.principal.id}">
                           <input name="offerId" style="visibility: hidden" th:value="${offer.getId()}">
                           <button type="submit" style="margin-left: 5px; margin-top: 16px;" class="btn btn-outline-danger">Remove</button>
                        </form>
                     </div>
                  </div>

               </a>
            </div>
         </div>
      </div>
   </div>
</html>